<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object, object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="mb-3">
    <%= f.label :image, "Upload Image", class: "form-label" %>
    <%= f.file_field :image, class: "form-control", accept: "image/jpeg,image/gif,image/png" %>
    <div id="size-error" class="text-danger mt-1" style="display: none;">
      File size is too large (maximum 5MB)
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
